.DS_Store
node_modules/
mocks/certs/*
3rparties/haproxy/*.crt
3rparties/haproxy/*.key
3rparties/haproxy/certs/*.pem
3rparties/keycloak/certs/*.crt
3rparties/keycloak/certs/*.key
conf/certs/*.crt
conf/certs/*.key